.offersContainer {
  display: flex;
  justify-content: center;
  background: white;
  font-family: "Montserrat", serif;
  font-weight: 700;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.imgWrap {
  width: 355px;
  /* height: 250px;  */
  overflow: hidden;
  object-fit: contain;
}

.offerImg {
  width: 350px;
  height: 220px;
}

.imgWrap img {
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.1);
}

.offer:hover img {
  transform: scale(1);
}

h3,
h2 {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.offerDiscription {
  padding: 20px;
  margin: 5px;
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.offerBtn {
  display: flex;
  background: none;
  border: 2px solid black;
  padding: 10px;
  width: 150px;
  margin: 20px auto;
  align-content: center;
  font-weight: bold;
  outline: none;
  justify-content: center;
}

.offerBtn:hover {
  background: rgba(0, 0, 0, 0.844);
  color: white;
  outline: none;
}

.oWrapper {
  background: white;
  padding-top: 20px;
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.text {
  width: 60%;
  align-content: center;
  margin: 50px auto;
}
.offer {
  margin: 3px;
  width: 355px;
  height: 100%;
  margin: 20px;
  border: 1px solid silver;
}
